# Absolute URL of the deployed tool web app (tool/web/). The "Tool" nav link and
# every "Open the Tool" CTA on this site link straight here — license entry and
# validation live entirely on the tool app, not on this static site.
PUBLIC_TOOL_URL=http://localhost:5173
